# Python (Bytecode)
*.pyc

# ninja files
*.ninja

# Visual Studio
*.props
*.user
.vs/
Debug/
Release/
Testing/
x64/
*.vcxproj
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.sln
*.sdf
*.gitattributes
*.VC.opendb

# CMake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
cmake_install.cmake
CMakeFiles/
vendor/

# Compiler outputs
obj/*
bin/*
build*

# Dropbox interference
.dropbox*

# QtCreator
*.creator.user.*
*.config
*.creator
*.files
*.includes

# Scratchpad Files
main2.cpp
main.cpp

# Local Lua Testbeds
lua-*/
luajit-*/
include/
lib*
lib/

# Windows
desktop.ini

# OSX
.DS_Store
