obj/*
bin/*
demacro.txt
Shinobi2
dev.*
lua-5.2.2/
Debug/
Release/
x64/
*.vcxproj
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.sln
*.gitattributes
liblua.a
sol/include/
.ninja*
include/
