obj/
bin/
dev*
lib/

sol/include/

# Ninja
*.ninja

# Benchmarking
bench/

# Lua
lua-*/
luajit-*/
liblua.*

# Python
*.pyc

# Visual Studio
Debug/
Release/
x64/
*.vcxproj
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.sln
*.gitattributes
desktop.ini
.vs/

include/
*.config
*.creator
*.files
*.includes
*.ninja
*.user
.dropbox*
*.creator.user.*
*.props
